@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

body {
	font-family: "Quicksand", sans-serif;
	height: 100vh;
}

.login-container {
	background-color: #765827;
	font-family: "Quicksand", sans-serif;
}

.login-form {
	background-color: #faeed1 !important;
	border: 3px solid #706233;
}

.login-title {
	font-weight: bold;
}

.login-form .form-control {
	border: 2px solid #aa9797;
	border-radius: 8px;
	font-size: 13px;
}

.login-form .btn-primary {
	background-color: #706233;
	font-weight: bold;
}

.login-form .btn-primary:hover {
	background-color: #ded0b6;
	color: #000;
}

.next-link {
	font-weight: 600;
}

.next-link .sign-up-link {
	color: #666666;
	font-weight: bold;
	text-decoration: underline;
}

.sign-up-link:hover {
	text-decoration: underline;
	color: #e1c78f;
}
